body {
    background-color:rgb(195, 197, 212);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-box {
    width: 340px;
    padding: 24px;
    border: 2px solid;
    border-radius: 24px;
    background-color: blueviolet;
}

.display {
    background-color: #e0d0e0;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    padding: 15px 0;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #e0d0e0;
    border-color: white;
    cursor: pointer;
    transition: all 0.15s ease;
}

.btn:hover {
    background-color: #d5afd5;
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(1px);
}

.control, .equals{
    background-color: #baa5cf;
}

.control:hover, .equals:hover {
    background-color: #b58ddd;
    color: white;
}

.operator, .advanced {
    background-color: #dcbdd2;
}

.operator:hover, .advanced:hover {
    background-color: #d2a0c2;
}

